NEXT_PUBLIC_FIREBASE_API_KEY={"apiKey":"-","authDomain":"e-buddy-technical-test-51cdb.firebaseapp.com","projectId":"e-buddy-technical-test-51cdb","storageBucket":"e-buddy-technical-test-51cdb.firebasestorage.app","messagingSenderId":"795827184150","appId":"1:795827184150:web:70bed1d2041523c1304b37","measurementId":"G-817BZCEJS8","databaseUrl":"http://localhost:9000?ns=e-buddy-technical-test-51cdb"} 